<script src="../../static/home.js"></script>
<link rel="stylesheet" href="./home.css">

<div>
	<h1>Gen Five</h1>
	<p>Welcome to our battle simulator.</p>
	<h2>Your Characters</h2>

	<a href="/creation">
		<button> Create a New Character </button>
	</a>
	<br /><br />
	<h2>Your Parties</h2>
	<form id="getParties" action="/parties/" method="GET">
		<input type="submit" value="Display Parties">
	</form>
	<button onClick="showPartyForm()"> Create a Party </button>
	<form id="createParty" style="display:none;" action="/parties/" method="POST" target="_blank">
		Party name<input type="text" name="partyName"><br />
		Player 1's email<input type="email" name="player1"><br />
		Player 2's email<input type="email" name="player2"><br />
		Player 3's email<input type="email" name="player3"><br />
		Player 4's email<input type="email" name="player4"><br />
		<input onClick="hidePartyForm();" type="submit" value="Create">
		<button id="cancelParty" onClick="hidePartyForm()"> Cancel </button>
	</form>
	<br /><br /><br />
	<a href="/battle">
		<button> Start Battle </button>
	</a>
</div>