<!--<script src="../../static/login.js"></script>-->
<script>
    function compare() {

    }
    function login(test, username, password) {
        console.log(test);
        window.location.href = 'http://127.0.0.1:8000/home';
    }
</script>

<head>
    <title>GenFive Login</title>
    <link rel="icon" href="../static/assets/g5.jpg">
</head>
<div style="text-align:center;">
    <form action="/users/" method="GET" target="_blank" enctype="multipart/form-data" class="form-horizontal"
        novalidate="">
        <div>
            <label for="username">Username:</label><br>
            <input type="text" id="username" name="username"><br /><br />
            <label for="password">Password:</label><br>
            <input type="password" id="password" name="password"><br /><br />
        </div>
        <div class="form-actions">
            <!--
            {% for user in users.all %}
            {% if username == user.username %} <h1>test</h1>
            {% else %}<p>different test</p>
            {% endif %}
            {% endfor %} -->
            <button class="btn btn-primary js-tooltip" onClick="login()">Log In</button>
        </div>
    </form>
    <a href="http://127.0.0.1:8000/register"><button> Register </button></a>
</div>