<div>
    <form action="/users/" method="POST" enctype="multipart/form-data" class="form-horizontal" novalidate="">
        <div>
            <label for="username">Username:</label><br>
            <input type="text" id="username" name ="username"><br>
            <label for="pwd">Password:</label><br>
            <input type="password" id="pwd" name ="pwd">
        </div>
        <div class="form-actions">
            <button class="btn btn-primary js-tooltip" title=""
                data-original-title="Make a POST request on the Log In resource">Log In</button>
        </div>
    </form>
</div>